.input
  flex 1
  flex-basis auto

.role
  flex-direction row
  align-items flex-end
  margin-top 2u

.addRoleBtn
  margin-top 2u
  align-self flex-end

.removeRoleBtn
  margin-left 2u

.error
  color $UI.colors.error