.input
  flex 1
  flex-basis auto

.question
  margin-top 3u

.label
  color $UI.colors.secondary
  line-height 16px
  font-size 12px
  margin-bottom 1u

.inputWrapp
  flex-direction row
  align-items flex-end

.meta
  padding-left 6u

  &__item
    margin-top 1u

.addBtn
  margin-top 2u
  align-self flex-end

.removeBtn
  margin-left 2u

.error
  color $UI.colors.error