.input
  flex 1
  flex-basis auto

.option
  flex-direction row
  align-items flex-end
  margin-top 1u
  &.first
    margin-top 0

.addBtn
  margin-top 2u
  align-self flex-end

.removeBtn
  margin-left 2u