.root
  flex-direction column
  justify-content flex-start
  position relative

.text
  color $UI.colors.dark
  margin-bottom .5u

.input
  border-width 1px
  border-radius .5u
  padding 1u

.errorMsg
  color $UI.colors.error