.content
  max-width 600px

.header
  flex-direction row
  justify-content space-between
  align-items center
  flex-basis auto
  margin 4u 0

.h2
  line-height 20px

.btn
  width 150px
  margin-left 1u